.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#quiz {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

#submit {
    margin-bottom: 20px;
}

#results {
    font-size: 2em;
    font-weight: bold;
}

#answer {
    width: 30%;
}
